.summeryStyle{
	display: "flex";
	flex-direction: column;
	max-width:50%;	
	background: #f4f7f8;
	margin: 30px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
}

.contentWrapper{	
	border: 2px dashed  #109177;	
	padding: 20px;
	margin: 20px;
}

.contentWrapper > span {	
	width: 100%;
	margin: 10px;	
	line-height: 26px;
	font-size: 16px;
	display: block;
}
